@charset 'utf-8';

@import '~normalize.css';
@import '~highlight.js/styles/dracula.css';

* {
  box-sizing: border-box;
}


html,
body,
body > div {
  height: 100%;
  width: 100%;
}

html,
body {
  margin: 0;
}

.editor {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.editorHeader {
  background: #222;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  width: 100%;
}

.editorHeader .save {
  background: green;
  border: 0;
  color: white;
  font-weight: 700;
  padding: 0 20px;
  text-transform: uppercase;
}

.editorHeader .save:hover {
  background: darkgreen;
  cursor: pointer;
}

textarea,
.view {
  font-family: sans-serif;
  height: 100%;
  max-width: 50%;
  min-width: 50%;
}

textarea {
  font-size: 18px;
  padding: 10px;
  resize: none;
}

textarea:focus {
  outline: 0 none;
}

.view {
  background: #333;
  color: #fff;
  padding: 10px;
}
